<!DOCTYPE html>

<html>

<title>FakeNewsDetection</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/news.css') }}">

<body>
    <div class='logo'>
        <img src="/static/images/logo.png " alt="logo " style="width:290px;height:50px; ">
        <!-- <img src="logo.png " alt="logo " style="width:290px;height:50px; "> -->

    </div>
    <!-- <img src="/static/images/logo.png" alt="logo" style="width:290px;height:50px;"> -->
    <div class='title'>
        <h1>Fake News Detection with Weakly Supervised Learning</h1>
    </div>
    <div class="upload-container">
        <title>Upload test file </title>
        <h3>Upload Test file(.csv) containing Article and Label for evaluation and prediction of models.</h3>
        <h3> Or '.txt' file containing article for prediction.</h3>
        <form method=post enctype=multipart/form-data>
            <input type=file name=xfile>
            <input type=submit value=Upload>
            <br>
            <br>
            <h3>Copy-paste or write article in the text box and then press enter. </h3>
            <input type=text name=article style="height:200px;font-size:14pt; text-align: justify;
            text-justify: inter-word;" white-space: wrap;overflow: hidden; text-overflow: ellipsis;>
            <input type=submit value=Enter>
        </form>

    </div>

    <div class="meanteacher">
        <h2>Mean Teacher</h2>
        <l>
            <li>With Synonym as noise</li>
            <li>With Dropouts</li>
            <li>With Synonym and Dropouts</li>
            <li>With Unlabel data</li>
        </l>
      </div>

    <h4>Institute for Web Science and Technologies-SS2020 </h4>
    <a href="https://github.com/bksaini078/fake_news_detection" target="_blank">github repository</a>
    <div class='author'>
        <p>Designed and Developed by: Bhupender Kumar Saini</p>
    </div>
</body>

</html>